html,
body {
    background-color: rgb(20, 24, 32);
    font-family: Consolas, system-ui;
    margin: 0;
    color: white;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.main-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

#hello-text {
    font-size: 64px;
}

#about-text {
    font-size: 36px;
}

.projects {
    margin-left: -10%;
    margin-right: -10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    position: relative;
    width: 100%;
    border-radius: 7px;
    flex: 0 1 30%;
    box-sizing: border-box;
    overflow: hidden;
}

.project-image {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 7px;
    transition: filter 0.3s ease;
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(30, 30, 30, 0.3);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 7px;
}

.project-description p {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.project-image:hover {
    filter: blur(5px);
}

.project:hover .project-description {
    opacity: 1;
}
