body {
    /* background-color: #300350; */
    color: white;
    background-image: url(/images/papa.gif);
    background-size: contain;
    height: 100vh;
    padding:0;
    margin:0;
}

html {
    cursor: url(/images/papaMouse.png) 0 15, auto;
}


.title {
    padding-top: 1%;
    cursor: url(/images/papaMouse.png) 0 15, auto
}
.title-text {
    text-align: center;
    cursor: url(/images/papaMouse.png) 0 15, auto
}

.nav {
    padding-top: 1%;
    cursor: url(/images/papaMouse.png) 0 15, auto
}

.nav-link {
    color: white;
    cursor: url(/images/papaMouse.png) 0 15, auto
}
.nav-link:hover {
    color: #d1d1d1;
    cursor: url(/images/papaMouse.png) 0 15, auto;
}
.nav-link:focus {
    color: #d1d1d1;
    cursor: url(/images/papaMouse.png) 0 15, auto
}

.dropdown-item:focus {
    cursor: url(/images/papaMouse.png) 0 15, auto
}
.dropdown-item:hover {
    cursor: url(/images/papaMouse.png) 0 15, auto;
}
.dropdown-item {
    cursor: url(/images/papaMouse.png) 0 15, auto
}