/* https://www.schemecolor.com/vaporwave.php */

body {
    color: white;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title-text {
    padding-top: 1%;
    text-align: center;
}

.content {
    text-align: center;
    margin: 2%;
}

.nav {
    padding-top: 1%;
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: #d1d1d1;
}
.nav-link:focus {
    color: #d1d1d1;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

pre {
    background: hsla(0, 0%, 12%, 0.4);
    border-radius: 10px;
    padding: 10px;
    white-space: pre-wrap;
}
.code-snippet {
    text-align: left;
    background: hsla(0, 0%, 12%, 0.2);
    border-radius: 10px;
    padding-top: 10px;
}
.snippet-title {
    text-align: center;
}

.snippets-nav {
    position: sticky;
    top: 10vh;
}

.project {
    border-radius: 10px;
    background: hsla(0, 0%, 12%, 0.2);
    margin-bottom: 5%;
}

.project-image {
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    border-radius: 10px;
}

.project-description {
    padding: 5px;
}

.project-description p {
    margin: 0;
}

/* LINKS */
.my-link {
    transition: all 0.05s ease-in-out;
    width: 8vw;
    height: auto;
    margin: auto;
    background: hsla(0, 0%, auto, 0.2);
}

.link-row {
    margin: 5vh 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-link:hover {
    transform: scale(1.1);
}

.my-link img {
    height: 100%;
    width: 100%;
}

.my-link a {
    text-decoration: none;
}

.link-name {
    margin-top: 5%;
    background-color: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

/* ABOUT */
.about-reasons {
    margin-top: 5vh;
    text-align: center;
}

.about-reasons p {
    margin-bottom: 1%;
}

.list-of-reasons {
    display: inline-block;
    text-align: left;
    width: 50vw;
}

.about-disclaimer {
    margin-top: 5vh;
    width: 50vw;
    display: inline-block;
    text-align: left;
}

/* FOOTER */
.footer {
    margin-top: auto;
    bottom: 0;
}

.footer-text {
    color: rgba(255, 255, 255, 0.5);
}

/* Background colors */

@keyframes bgcolor {
    0% {
        background-color: #4a017a;
    }

    20% {
        background-color: #090b88;
    }

    40% {
        background-color: #08368d;
    }

    60% {
        background-color: #36098b;
    }

    80% {
        background-color: #83097d;
    }

    100% {
        background-color: #65057e;
    }
}
